Repository gchq/Vanguard: changes, and which pre-commit hooks are due for each by the changed paths.
All: require-utf8, check-requirements-docs, check-copyright, markdown-cells, pylint

require-utf8:
  name: Check file encoding
  description: Ensure file is valid UTF-8
  entry: python pre_commit_hooks/require_utf8.py
  language: python

check-requirements-docs:
  name: Keep requirements-docs.txt in sync with uv.lock
  language: system
  entry: 'uv export --frozen --quiet --format requirements-txt --no-hashes --no-dev --no-emit-project --extra doc --output-file requirements-docs.txt
  
    '
  pass_filenames: false

check-copyright:
  name: Check for copyright notice
  description: Ensure a copyright notice is present at the top of each Python file
  entry: python pre_commit_hooks/check_copyright.py
  language: python

markdown-cells:
  name: forbid markdown cells
  description: Forbid any Markdown cell in a Jupyter notebook
  entry: python pre_commit_hooks/markdown_cells.py
  language: python
  additional_dependencies:
  - nbformat

pylint:
  name: pylint
  description: Run Pylint static analysis
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=.pylintrc

feat: display version in docs
  docs/source/index.rst
Due: require-utf8

fix(deps): bound `wheel>=0.30`
  pyproject.toml
  uv.lock
Due: require-utf8, check-requirements-docs

fix(deps): re-lock `uv.lock` with uv 0.6.0
  uv.lock
Due: require-utf8, check-requirements-docs

fix(deps): fix deps for python 3.13
  pyproject.toml
  requirements-docs.txt
  uv.lock
Due: require-utf8, check-requirements-docs

chore: add python 3.13 to CI, change defaults to 3.13
  .github/workflows/check_todos.yml
  .github/workflows/coverage.yml
  .github/workflows/docs.yml
  .github/workflows/pre_commit_autoupdate.yml
  .github/workflows/pre_commit_checks.yml
  .github/workflows/release.yml
  .github/workflows/unittests.yml
  .github/workflows/unittests_lowest.yml
  .github/workflows/uv_lock_autoupdate.yml
  .python-version
  .readthedocs.yaml
  CONTRIBUTING.md
  pyproject.toml
Due: require-utf8

fix: "unexpected keyword argument" regex
  vanguard/warnings.py
Due: require-utf8, check-copyright, pylint

chore: also add 3.13 to bug report template
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: require-utf8

fix(deps): add bounds to fix lower-bounds tests on 3.13
  .cspell/library_terms.txt
  pyproject.toml
  requirements-docs.txt
  uv.lock
Due: require-utf8, check-requirements-docs

fix(deps): tighten bounds further to hopefully fix issues
  pyproject.toml
  requirements-docs.txt
  uv.lock
Due: require-utf8, check-requirements-docs

chore: add to CHANGELOG.md
  CHANGELOG.md
Due: require-utf8

deps: bump typing_extensions to 4.12 for all python versions
  pyproject.toml
  uv.lock
Due: require-utf8, check-requirements-docs

fix: pass classification decorator settings through
  vanguard/classification/binary.py
Due: require-utf8, check-copyright, pylint

feat: list source of decorator warnings in message
  vanguard/decoratorutils/basedecorator.py
Due: require-utf8, check-copyright, pylint

chore: update sphinx bounds on pyproject.toml #513
  pyproject.toml
  uv.lock
Due: require-utf8, check-requirements-docs

chore: files modified by pre-commit hooks #513
  requirements-docs.txt
Due: require-utf8

chore: updated pyproject.toml to not include beartype 0.20 #513
  pyproject.toml
  uv.lock
Due: require-utf8, check-requirements-docs

feat: initial rework of decorator warnings
  tests/units/decoratorutils/test_basedecorator.py
  vanguard/classification/binary.py
  vanguard/classification/mixin.py
  vanguard/decoratorutils/basedecorator.py
  vanguard/decoratorutils/wrapping.py
  vanguard/variational/decorator.py
Due: require-utf8, check-copyright, pylint

tests: add a temporary test for spurious warnings
  tests/units/test_decorator_combinations.py
Due: require-utf8, check-copyright, pylint

chore: add to CHANGELOG
  CHANGELOG.md
Due: require-utf8

ci: include doctests in test coverage
  .github/workflows/coverage.yml
Due: require-utf8

chore: link TODOs
  vanguard/decoratorutils/basedecorator.py
Due: require-utf8, check-copyright, pylint

chore: forbid sphinx 8.2.x
  pyproject.toml
  requirements-docs.txt
  uv.lock
Due: require-utf8, check-requirements-docs

feat: let assert_not_warns catch multiple warning types
  tests/cases.py
  tests/units/meta/test_test_extras.py
Due: require-utf8, check-copyright, pylint

feat: pass through warnings not of given type with assert_not_warns
  tests/cases.py
  tests/units/meta/test_test_extras.py
Due: require-utf8, check-copyright, pylint

tests: improve warnings in tests
  tests/units/test_features.py
  vanguard/decoratorutils/basedecorator.py
Due: require-utf8, check-copyright, pylint

tests: add framework for checking for decorator warnings
  pyproject.toml
  tests/units/test_decorator_combinations.py
Due: require-utf8, check-copyright, pylint

fix: weird beartype overrides causing warning test failures
  vanguard/decoratorutils/basedecorator.py
Due: require-utf8, check-copyright, pylint

feat: Add safe updates for Hierarchical hyper parameters.
  tests/units/test_decorator_combinations.py
  vanguard/hierarchical/laplace.py
  vanguard/hierarchical/variational.py
Due: require-utf8, check-copyright, pylint

chore: fix pre-commit.
  tests/units/test_decorator_combinations.py
  vanguard/hierarchical/laplace.py
  vanguard/hierarchical/variational.py
Due: require-utf8, check-copyright, pylint

feat: add safe updates for utility decorators.
  tests/units/test_decorator_combinations.py
  vanguard/features.py
  vanguard/learning.py
  vanguard/normalise.py
  vanguard/standardise.py
Due: require-utf8, check-copyright, pylint

tests: check no warnings are raised.
  tests/units/test_decorator_combinations.py
Due: require-utf8, check-copyright, pylint

Merged in main.
  tests/units/test_decorator_combinations.py
Due: require-utf8, check-copyright, pylint

fix: remove unnecessary safe update.
  vanguard/hierarchical/variational.py
Due: require-utf8, check-copyright, pylint

fix: remove redundant safe updates.
  vanguard/features.py
  vanguard/learning.py
  vanguard/normalise.py
  vanguard/standardise.py
Due: require-utf8, check-copyright, pylint

fix: classification decorator warnings
  tests/cases.py
  tests/units/test_decorator_combinations.py
  vanguard/classification/categorical.py
  vanguard/classification/dirichlet.py
  vanguard/classification/kernel.py
  vanguard/classification/mixin.py
  vanguard/multitask/decorator.py
Due: require-utf8, check-copyright, pylint

remove: unnecessary `safe_updates` in `@Classification` decorator
  vanguard/classification/mixin.py
Due: require-utf8, check-copyright, pylint

feat: add safe_updates for warping.
  tests/units/test_decorator_combinations.py
  vanguard/warps/decorator.py
  vanguard/warps/input.py
Due: require-utf8, check-copyright, pylint

fix: pass source decorator to warps class.
  vanguard/hierarchical/laplace.py
  vanguard/hierarchical/variational.py
Due: require-utf8, check-copyright, pylint

fix: pass source decorator to warps class.
  vanguard/features.py
  vanguard/learning.py
  vanguard/normalise.py
  vanguard/standardise.py
Due: require-utf8, check-copyright, pylint

feature: add safe updates for distributed decorator.
  tests/units/test_decorator_combinations.py
  vanguard/distribute/decorator.py
Due: require-utf8, check-copyright, pylint

Path conditions:
  require-utf8: any file but: (?x)^( docs/source/_static/.+.png )$
  check-requirements-docs: any of: ^uv\.lock$
  check-copyright: any of: \.py$, but not: (?x)^(
  pre_commit_hooks/require_utf8.py
)$

  markdown-cells: any of: \.ipynb$
  pylint: any of: \.py$, but not: documentation/source/snippets
