Repository gchq/Vanguard: changes, and which pre-commit hooks are due for each by the changed paths.
All: require-utf8, check-requirements-docs, check-copyright, markdown-cells, pylint

require-utf8:
  name: Check file encoding
  description: Ensure file is valid UTF-8
  entry: python pre_commit_hooks/require_utf8.py
  language: python

check-requirements-docs:
  name: Keep requirements-docs.txt in sync with uv.lock
  language: system
  entry: 'uv export --frozen --quiet --format requirements-txt --no-hashes --no-dev --no-emit-project --extra doc --output-file requirements-docs.txt
  
    '
  pass_filenames: false

check-copyright:
  name: Check for copyright notice
  description: Ensure a copyright notice is present at the top of each Python file
  entry: python pre_commit_hooks/check_copyright.py
  language: python

markdown-cells:
  name: forbid markdown cells
  description: Forbid any Markdown cell in a Jupyter notebook
  entry: python pre_commit_hooks/markdown_cells.py
  language: python
  additional_dependencies:
  - nbformat

pylint:
  name: pylint
  description: Run Pylint static analysis
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=.pylintrc

ci: remove "clean installation" step
  .github/workflows/check_todos.yml
  .github/workflows/docs.yml
  .github/workflows/pre_commit_autoupdate.yml
  .github/workflows/pre_commit_checks.yml
  .github/workflows/unittests.yml
  .github/workflows/unittests_lowest.yml
Due: require-utf8

ci: run lower-bound tests on all supported OS/Python version combos
  .github/workflows/unittests_lowest.yml
Due: require-utf8

fix(deps): update dependency lower bounds
  pyproject.toml
  uv.lock
Due: require-utf8, check-requirements-docs

tests: tweak failing tests to perform more fitting
  tests/units/classification/test_binary.py
  tests/units/classification/test_categorical.py
Due: require-utf8, check-copyright, pylint

docs: add "update bug report template" to release procedures
  CONTRIBUTING.md
Due: require-utf8

ci: add workflow to automatically test built package
  .github/workflows/release.yml
Due: require-utf8

docs: update release procedure to use new GitHub workflow
  CONTRIBUTING.md
Due: require-utf8

chore: fix typo
  CONTRIBUTING.md
Due: require-utf8

feat: generate coverage badge automatically
  .cspell/library_terms.txt
  .github/workflows/coverage.yml
  CHANGELOG.md
  README.md
Due: require-utf8

feat: add link to pre-commit dynamic badge
  README.md
Due: require-utf8

feat: rename coverage badge config
  .github/workflows/coverage.yml
  README.md
Due: require-utf8

feat: add coverage comparison script
  tests/coverage/compare.py
Due: require-utf8, check-copyright, pylint

chore: update uv packages
  requirements-docs.txt
  uv.lock
Due: require-utf8, check-requirements-docs

fix: change method from diag to diagonal
  examples/notebooks/intro_to_gps.ipynb
Due: require-utf8, markdown-cells

feat: add ReadTheDocs config
  .readthedocs.yaml
Due: require-utf8

tests: remove skip for SoftmaxLMC test_predictions
  tests/units/classification/test_categorical.py
Due: require-utf8, check-copyright, pylint

fix: include all sub-packages in build
  pyproject.toml
Due: require-utf8

feat: add py.typed
  vanguard/py.typed
Due: require-utf8

chore: remove redundant paragraph
  vanguard/datasets/air_passengers.py
Due: require-utf8, check-copyright, pylint

fix: use importlib.resources for data files
  vanguard/datasets/__init__.py
  vanguard/datasets/air_passengers.py
  vanguard/datasets/basedataset.py
  vanguard/datasets/bike.py
Due: require-utf8, check-copyright, pylint

fix: avoid referring to data namespace package
  vanguard/datasets/air_passengers.py
  vanguard/datasets/bike.py
Due: require-utf8, check-copyright, pylint

fix: try making examples a package
  examples/__init__.py
  examples/notebooks/__init__.py
Due: require-utf8, check-copyright, pylint

fix: remove top-level init
  examples/__init__.py
Due: require-utf8, check-copyright, pylint

fix: remove other unnecessary init
  examples/notebooks/__init__.py
Due: require-utf8, check-copyright, pylint

try: include . in requirements-docs.txt
  requirements-docs.txt
Due: require-utf8

fix: include project in requirements-docs.txt
  .pre-commit-config.yaml
  requirements-docs.txt
Due: require-utf8

docs: add ReadTheDocs url to pyproject.toml
  pyproject.toml
Due: require-utf8

feat: update badges in README to include automatic versions
  README.md
Due: require-utf8

chore: pre-commit run -a
  requirements-docs.txt
Due: require-utf8

fix: uv autoupdate requirements-docs check
  .github/workflows/uv_lock_autoupdate.yml
Due: require-utf8

feat: rearrange README content
  CONTRIBUTING.md
  README.md
  examples/README.md
Due: require-utf8

chore: prepare repo fo rv3.0.0 release
  .github/ISSUE_TEMPLATE/bug_report.yml
  CHANGELOG.md
  vanguard/__init__.py
Due: require-utf8, check-copyright, pylint

docs: change procedure if release fails
  CONTRIBUTING.md
Due: require-utf8

fix(build): use LFS files in build
  .github/workflows/release.yml
Due: require-utf8

fix: set project name to match PyPI
  pyproject.toml
  uv.lock
Due: require-utf8, check-requirements-docs

chore: update CHANGELOG.md
  CHANGELOG.md
Due: require-utf8

docs: exclude artowen.su from link checking
  docs/source/conf.py
Due: require-utf8, check-copyright, pylint

feat: release 3.0.1
  .github/ISSUE_TEMPLATE/bug_report.yml
  CHANGELOG.md
  vanguard/__init__.py
Due: require-utf8, check-copyright, pylint

feat: improve usability of installation script snippets
  README.md
Due: require-utf8

Path conditions:
  require-utf8: any file but: (?x)^( docs/source/_static/.+.png )$
  check-requirements-docs: any of: ^uv\.lock$
  check-copyright: any of: \.py$, but not: (?x)^(
  pre_commit_hooks/require_utf8.py
)$

  markdown-cells: any of: \.ipynb$
  pylint: any of: \.py$, but not: documentation/source/snippets
