Repository gchq/Vanguard: changes, and which pre-commit hooks are due for each by the changed paths.
All: require-utf8, check-requirements-docs, check-copyright, markdown-cells, pylint

Path conditions:
  require-utf8: any file but: (?x)^( docs/source/_static/.+.png )$
  check-requirements-docs: any of: ^uv\.lock$
  check-copyright: any of: \.py$, but not: (?x)^(
  pre_commit_hooks/require_utf8.py
)$

  markdown-cells: any of: \.ipynb$
  pylint: any of: \.py$, but not: documentation/source/snippets

fix: all remaining decorator warnings
  docs/source/conf.py
  tests/units/test_decorator_combinations.py
  vanguard/classification/binary.py
  vanguard/classification/categorical.py
  vanguard/classification/dirichlet.py
  vanguard/classification/kernel.py
  vanguard/distribute/decorator.py
  vanguard/features.py
  vanguard/hierarchical/base.py
  vanguard/hierarchical/laplace.py
  vanguard/hierarchical/variational.py
  vanguard/learning.py
  vanguard/multitask/decorator.py
  vanguard/normalise.py
  vanguard/standardise.py
  vanguard/variational/decorator.py
  vanguard/warps/decorator.py
  vanguard/warps/input.py
Due: require-utf8, check-copyright, pylint

remove: debug print
  tests/units/test_decorator_combinations.py
Due: require-utf8, check-copyright, pylint

fix: suppress some warnings on illegal decorator combinations
  tests/cases.py
  tests/units/meta/test_test_extras.py
  tests/units/test_decorator_combinations.py
Due: require-utf8, check-copyright, pylint

fix: decorator warnings raised by test_basedecorator.py
  tests/units/decoratorutils/test_basedecorator.py
  vanguard/decoratorutils/basedecorator.py
  vanguard/utils.py
Due: require-utf8, check-copyright, pylint

tests: add a test for multi_context()
  tests/units/test_utils.py
Due: require-utf8, check-copyright, pylint

ci(docs): exclude dl.acm.org from link check
  docs/source/conf.py
Due: require-utf8, check-copyright, pylint

docs: add warnings to experimental parts of the codebase
  pyproject.toml
  vanguard/classification/kernel.py
  vanguard/features.py
Due: require-utf8, check-copyright, pylint

docs: expand docstring of test_multi_context
  tests/units/test_utils.py
Due: require-utf8, check-copyright, pylint

tests: check for NormaliseY+classification warnings
  tests/units/test_decorator_combinations.py
Due: require-utf8, check-copyright, pylint

fix: gradient_every warning with default Distributed() arguments
  vanguard/base/gpcontroller.py
  vanguard/distribute/decorator.py
Due: require-utf8, check-copyright, pylint

fix: typo in warning
  vanguard/classification/kernel.py
Due: require-utf8, check-copyright, pylint

deps: allow beartype 0.20.0
  pyproject.toml
  requirements-docs.txt
  uv.lock
Due: require-utf8, check-requirements-docs

fix: all beartype issues in unit tests
  tests/cases.py
  tests/units/distribute/test_partitioners.py
  tests/units/multitask/test_multitask.py
  vanguard/distribute/partitioners.py
  vanguard/hierarchical/distributions.py
  vanguard/uncertainty.py
Due: require-utf8, check-copyright, pylint

fix: all beartype issues in integration tests
  vanguard/distribute/partitioners.py
Due: require-utf8, check-copyright, pylint

tests(deps): add pytest-xdist
  pyproject.toml
  uv.lock
Due: require-utf8, check-requirements-docs

chore: link TODO
  vanguard/uncertainty.py
Due: require-utf8, check-copyright, pylint

fix: failing test due to invalid mock
  tests/units/distribute/test_partitioners.py
Due: require-utf8, check-copyright, pylint

chore: add to CHANGELOG
  CHANGELOG.md
Due: require-utf8

ci(tests): use pytest-xdist for all CI tests
  .cspell/library_terms.txt
  .github/workflows/coverage.yml
  .github/workflows/release.yml
  .github/workflows/unittests.yml
  .github/workflows/unittests_lowest.yml
  pyproject.toml
Due: require-utf8

chore: uv lock --upgrade-package beartype
  uv.lock
Due: require-utf8, check-requirements-docs

remove: fix for beartype 0.20.0 bug
  vanguard/uncertainty.py
Due: require-utf8, check-copyright, pylint

chore: uv lock --upgrade
  requirements-docs.txt
  uv.lock
Due: require-utf8, check-requirements-docs

chore(deps): add html5lib>=1 constraint
  pyproject.toml
  uv.lock
Due: require-utf8, check-requirements-docs

chore: add html6lib>=1 constraint
  pyproject.toml
  uv.lock
Due: require-utf8, check-requirements-docs

chore: updates for 3.1.0
  .github/ISSUE_TEMPLATE/bug_report.yml
  CHANGELOG.md
  vanguard/__init__.py
Due: require-utf8, check-copyright, pylint

chore: response to @tp832944 review
  CHANGELOG.md
Due: require-utf8

docs: update deprecation protocol in CONTRIBUTING
  CONTRIBUTING.md
Due: require-utf8

fix: usage of `np.integer` and `np.floating`
  tests/integration/test_classification_usage.py
  tests/units/distribute/test_decorator.py
Due: require-utf8, check-copyright, pylint

fix(chore): update file-contents-sorter args.
  .pre-commit-config.yaml
Due: require-utf8

fix: handle constant features during input standardisation
  CHANGELOG.md
  tests/units/test_standardise.py
  vanguard/base/standardise.py
Due: require-utf8, check-copyright, pylint
